#wrap {
  min-width: 1200px;
}
#wrap > .header-top {
  width: 100%;
  height: 50px;
  background-color: #eeeeee;
}
#wrap > .header-top > .top-header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#wrap > .header-top > .top-header > .seoul {
  position: absolute;
  left: 20px;
  top: 8px;
  width: 105px;
  height: 27px;
}
#wrap > .header-top > .top-header > .seoul > a {
  display: block;
  width: 105px;
  height: 27px;
  background-image: url(./../images/icon_set_common.png);
  background-repeat: no-repeat;
  background-position: -5px -165px;
  text-indent: -9999px;
}
#wrap > .header-top > .top-header .txt {
  position: absolute;
  left: 50%;
  top: 18px;
  margin-left: -400px;
  width: 400px;
}
#wrap > .header-top > .top-header .txt > a {
  display: block;
  font-size: 13px;
  color: #333;
}
#wrap > .header-top > .top-header .txt > a p {
  float: left;
  width: 19px;
  height: 17px;
  margin-top: 1px;
  background-image: url(./../images/ico-sprite-common-gnb.png);
  background-position: 0 -45px;
  background-repeat: no-repeat;
  content: "";
}
#wrap > .header-top > .top-header .container {
  display: flex;
  position: absolute;
  right: 20px;
  top: 15px;
}
#wrap > .header-top > .top-header .container li {
  margin-right: 20px;
}
#wrap > .header-top > .top-header .container li:last-child {
  margin-right: 0;
}
#wrap > .header-top > .top-header .container li > a {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
#wrap > .header-snb {
  position: relative;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}
#wrap > .header-snb > .snb {
  display: flex;
  position: absolute;
  top: 5px;
  right: 50%;
  height: 25px;
  line-height: 25px;
  margin-right: -410px;
}
#wrap > .header-snb > .snb > li {
  margin-right: 20px;
}
#wrap > .header-snb > .snb > li:last-child {
  margin-right: 0;
}
#wrap > .header-snb > .snb > li > a {
  display: block;
  font-size: 13px;
  color: #333;
  font-weight: 600;
}
#wrap > .header-snb > .snb > li > a.snb_3 {
  color: red;
}
#wrap > .header-snb > .snb > li > a > p {
  float: left;
  width: 19px;
  height: 13px;
  margin-top: 7px;
  margin-right: 2px;
  background-image: url(./../images/subb-icon.gif);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
#wrap > .header-snb > .snb-language {
  display: flex;
  position: absolute;
  top: 5px;
  right: 0;
  width: 150px;
  height: 25px;
  line-height: 11px;
  border: 1px solid #bbb;
}
#wrap > .header-snb > .snb-language > p {
  display: block;
  font-size: 13px;
  padding: 5px;
  font-weight: 600;
}
#wrap > .header-snb > .snb-language > p:nth-child(1) {
  padding-right: 30px;
  color: #777;
}
#wrap > .header-snb > .snb-language > p:nth-child(2) {
  padding-right: 5px;
  margin-top: 12px;
  background-image: url(./../images/sub-icon.gif);
  background-repeat: no-repeat;
  text-indent: -9999px;
}
#wrap > .header-snb > .snb-language > p:nth-child(3) {
  width: 17px;
  height: 8px;
  margin: 3px;
  line-height: 8px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #8ed1de;
}
#wrap > .header-snb > .snb-language > p:nth-child(3) a {
  display: block;
}
#wrap > .header-snb > h1.logo {
  position: absolute;
  top: 40px;
  left: 0;
  width: 211px;
  height: 55px;
  background-image: url(./../images/logo.gif);
}
#wrap > .header-snb > h1.logo > a {
  display: block;
  text-indent: -9999px;
}
#wrap > .header-snb > .container {
  position: absolute;
  top: 45px;
  left: 260px;
  width: 760px;
  height: 50px;
  border: 3px solid #0092d0;
  border-radius: 50px;
}
#wrap > .header-snb > .container > .search1 {
  display: inline-block;
  width: 136px;
  height: 40px;
  margin-left: 5px;
  line-height: 40px;
  font-size: 14px;
  text-indent: 25px;
  background-color: #20407b;
  color: #fff;
  border-radius: 30px 0 0 30px;
}
#wrap > .header-snb > .container > .search1 > input {
  width: 14px;
  height: 14px;
  margin-right: -1px;
}
#wrap > .header-snb > .container > .search2 {
  display: inline-block;
  width: 140px;
  height: 40px;
  margin-top: 5px;
  margin-left: -5px;
  font-size: 14px;
  line-height: 40px;
  text-indent: 10px;
  background-color: #8ed1de;
  border-radius: 0 30px 30px 0;
}
#wrap > .header-snb > .container > .search2 > input {
  width: 14px;
  height: 14px;
  margin-right: -2px;
}
#wrap > .header-snb > .container > input#box {
  width: 400px;
  height: 35px;
  font-size: 22px;
  background: none;
  border: none;
  outline: none;
}
#wrap > .header-snb > .container > p {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 31px;
  height: 30px;
  background-image: url(./../images/search.gif);
  text-indent: -9999px;
}
#wrap > .header-snb > .container > p > a {
  display: block;
}
#wrap > .header-snb > .slogo {
  position: absolute;
  right: 0;
  top: 55px;
  width: 119px;
  height: 39px;
  text-indent: -9999px;
  background-image: url(./../images/slogo.gif);
}
#wrap > header {
  width: 100%;
  height: 70px;
  background-color: #eeeeee;
}
#wrap > header > nav {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}
#wrap > header > nav > .gnb {
  position: absolute;
  left: 0;
  display: flex;
  width: 1150px;
}
#wrap > header > nav > .gnb > li {
  margin-right: 100px;
}
#wrap > header > nav > .gnb > li:last-child {
  margin-right: 0;
}
#wrap > header > nav > .gnb > li > a {
  padding-top: 7px;
  font-size: 19px;
  font-weight: 600;
}
#wrap > header > nav > .gnb > li > a:hover {
  border-top: 3px solid #0092d0;
}
#wrap > header > nav > .btn {
  position: absolute;
  top: 15px;
  right: 0;
  width: 40px;
  height: 36px;
  margin: 0 auto;
  cursor: pointer;
}
#wrap > header > nav > .btn > .bar {
  display: block;
  width: 21px;
  height: 2px;
  margin: 0 auto 6px;
  background-color: #000;
}
#wrap > header > nav > .btn > .bar:nth-child(1) {
  margin-top: 9px;
}
#wrap > .side-banner {
  position: fixed;
  top: 260px;
  right: 25px;
  width: 100px;
  height: 330px;
  font-size: 13px;
  z-index: 100;
}
#wrap > .side-banner > .sidebox1 {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: #5a5149;
}
#wrap > .side-banner > .sidebox1 > .close1 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-image: url(./../images/side_close01.gif);
}
#wrap > .side-banner > .sidebox1 > .close1 > a {
  display: block;
  height: 9px;
}
#wrap > .side-banner > .sidebox1 > .txt1 {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: 7px;
  color: #fff;
  line-height: 1.4;
  text-align: center;
}
#wrap > .side-banner > .sidebox1 > .txt2 {
  position: absolute;
  bottom: 25px;
  margin-left: 30px;
}
#wrap > .side-banner > .sidebox1 > .txt2 > a {
  display: block;
  color: #a7e6f8;
  font-weight: 600;
}
#wrap > .side-banner > .sidebox2 {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: #a7e6f8;
}
#wrap > .side-banner > .sidebox2 > .close2 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-image: url(./../images/side_close02.gif);
}
#wrap > .side-banner > .sidebox2 > .close2 > a {
  display: block;
  height: 9px;
}
#wrap > .side-banner > .sidebox2 > .txt1 {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  margin-left: 15px;
  color: #5a5149;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}
#wrap > .side-banner > .sidebox2 > .txt2 {
  position: absolute;
  bottom: 10px;
  margin-left: 30px;
}
#wrap > .side-banner > .sidebox2 > .txt2 > a {
  display: block;
  color: #5a5149;
  font-weight: 600;
}
#wrap > .side-banner > .sidebox3 {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: #efefef;
}
#wrap > .side-banner > .sidebox3 > .close3 {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-image: url(./../images/side_close02.gif);
}
#wrap > .side-banner > .sidebox3 > .close3 > a {
  display: block;
  height: 9px;
}
#wrap > .side-banner > .sidebox3 > .txt1 {
  position: absolute;
  left: 3px;
  top: 10px;
  width: 91px;
  height: 64px;
  background-image: url(./../images/icon_chatbot.gif);
}
#wrap > .side-banner > .sidebox3 > .txt1 > a {
  display: block;
  height: 64px;
}
#wrap > .side-banner > .sidebox3 > .txt2 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 90px;
  height: 17px;
  line-height: 17px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  background-color: #0084c7;
}
#wrap > aside {
  position: fixed;
  bottom: 20px;
  right: 30px;
  text-align: center;
}
#wrap > aside > .top {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(./../images/top.gif);
}

#cont > h2 {
  position: absolute;
  text-indent: -9999px;
}
#cont .visual {
  width: 100%;
  height: 380px;
  background-image: url(./../images/visual_bg.gif);
  background-position: center 20%;
  background-size: cover;
  background-repeat: no-repeat;
}
#cont .visual > h3 {
  position: absolute;
  text-indent: -9999px;
}
#cont .visual > .visual-container {
  position: relative;
  width: 1200px;
  height: 380px;
  margin: 0 auto;
}
#cont .visual > .visual-container > .banner1 {
  position: absolute;
  left: 0;
  top: 30px;
  width: 789px;
  height: 330px;
}
#cont .visual > .visual-container > .banner1 > .slides {
  overflow: hidden;
  position: absolute;
  width: 769px;
  height: 285px;
  border: 10px solid #fff;
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  left: -769px;
  top: 0;
  width: 8459px;
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p {
  width: 769px;
  background-position: center center;
  background-size: cover;
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-1 {
  background-image: url(./../images/banner_1.png);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-2 {
  background-image: url(./../images/banner_2.png);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-3 {
  background-image: url(./../images/banner_3.jpg);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-4 {
  background-image: url(./../images/banner_4.png);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-5 {
  background-image: url(./../images/banner_5.jpg);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-6 {
  background-image: url(./../images/banner_6.jpg);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-7 {
  background-image: url(./../images/banner_7.jpg);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-8 {
  background-image: url(./../images/banner_8.png);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p.slides-9 {
  background-image: url(./../images/banner_9.jpg);
}
#cont .visual > .visual-container > .banner1 > .slides > .slides-container p > a {
  display: block;
  height: 285px;
  text-indent: -9999px;
}
#cont .visual > .visual-container > .banner1 > .slides-pagination {
  position: absolute;
  right: 80px;
  display: flex;
  bottom: 0;
}
#cont .visual > .visual-container > .banner1 > .slides-pagination > li {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid #777;
  border-radius: 30px;
}
#cont .visual > .visual-container > .banner1 > .slides-pagination > li:hover > a, #cont .visual > .visual-container > .banner1 > .slides-pagination > li.on > a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: #0092d0;
}
#cont .visual > .visual-container > .banner1 > .slides-pagination > li a {
  display: block;
  text-indent: -9999px;
}
#cont .visual > .visual-container > .banner1 > .slides-navigation {
  position: absolute;
  bottom: 0;
  text-indent: -9999px;
}
#cont .visual > .visual-container > .banner1 > .slides-navigation.prev {
  right: 60px;
  width: 8px;
  height: 15px;
  background-image: url(./../images/banner_prev.gif);
}
#cont .visual > .visual-container > .banner1 > .slides-navigation.next {
  right: 15px;
  width: 8px;
  height: 15px;
  background-image: url(./../images/banner_next.gif);
}
#cont .visual > .visual-container > .banner1 .btn_auto {
  display: block;
  position: absolute;
  right: 32px;
  bottom: 0;
  width: 17px;
  height: 15px;
  text-indent: -9999px;
  background-image: url(./../images/banner_play.gif);
  cursor: pointer;
}
#cont .visual > .visual-container > .banner1 .btn_auto.pause {
  width: 13px;
  height: 15px;
  margin-right: 5px;
  background-image: url(./../images/banner_stop.gif);
}
#cont .visual > .visual-container > .banner2 {
  position: absolute;
  right: 0;
  top: 30px;
  width: 317px;
  height: 285px;
  background-color: #cecece;
  border: 10px solid #fff;
}
#cont .visual > .visual-container > .banner2 > .banner-container1 {
  width: 317px;
  height: 125px;
  background-image: url(./../images/seoul_square_banner.gif);
}
#cont .visual > .visual-container > .banner2 > .banner-container1 > a {
  display: block;
  height: 215px;
}
#cont .visual > .visual-container > .banner2 > .banner-container1 > a > p {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 110px;
  height: 30px;
  padding: 5px 0 5px 5px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  background-color: #696969;
  border: 3px solid #9c9a9a;
  border-radius: 8px;
}
#cont .visual > .visual-container > .banner2 > .banner-container2 {
  position: absolute;
  left: 18px;
  width: 280px;
  height: 160px;
}
#cont .visual > .visual-container > .banner2 > .banner-container2 > .container {
  display: flex;
  border-bottom: 1px solid #777;
  padding-left: 30px;
}
#cont .visual > .visual-container > .banner2 > .banner-container2 > .container > p {
  width: 280px;
  height: 80px;
}
#cont .visual > .visual-container > .banner2 > .banner-container2 > .container > p:first-child {
  display: block;
  width: 70px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #20407b;
  border-radius: 50px;
  margin-top: 17px;
  margin-right: 15px;
}
#cont .visual > .visual-container > .banner2 > .banner-container2 > .container > p:last-child {
  line-height: 80px;
  font-size: 18px;
  font-weight: 600;
}
#cont .visual > .visual-container > .banner2 > .banner-container2 > p {
  width: 280px;
  height: 80px;
  padding-top: 15px;
  line-height: 1.5;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
#cont > .notice {
  width: 100%;
  height: 270px;
  background-color: #f2f2f2;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
}
#cont > .notice > h3 {
  position: absolute;
  text-indent: -9999px;
}
#cont > .notice > .notice-container {
  display: flex;
  width: 1200px;
  height: 270px;
  margin: 0 auto;
}
#cont > .notice > .notice-container > .notice1 {
  width: 33.3%;
  height: 270px;
  padding-top: 30px;
  box-sizing: border-box;
}
#cont > .notice > .notice-container > .notice1 > h3 {
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #0092d0;
  border-bottom: 2px solid #0092d0;
}
#cont > .notice > .notice-container > .notice1 p {
  width: 97%;
  line-height: 1.7;
}
#cont > .notice > .notice-container > .notice1 > .txt1 {
  margin: 10px 0;
}
#cont > .notice > .notice-container > .notice1 > .txt1 > a {
  display: block;
  font-size: 17px;
  font-weight: 600;
}
#cont > .notice > .notice-container > .notice1 > .txt1 > a > span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(./../images/notice-link.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
#cont > .notice > .notice-container > .notice1 > .txt2 {
  display: block;
}
#cont > .notice > .notice-container > .notice2 {
  position: relative;
  width: 33.3%;
  height: 270px;
  padding-top: 30px;
  border-right: 10px solid #fff;
  box-sizing: border-box;
}
#cont > .notice > .notice-container > .notice2 > h3 {
  padding-bottom: 15px;
  font-size: 24px;
  border-bottom: 2px solid #0092d0;
}
#cont > .notice > .notice-container > .notice2 > h3 > a {
  display: block;
  text-indent: -9999px;
}
#cont > .notice > .notice-container > .notice2 > h3 > a > span {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-image: url(./../images/plus_on.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
#cont > .notice > .notice-container > .notice2 > .list {
  padding: 10px 0;
}
#cont > .notice > .notice-container > .notice2 > .list > li {
  height: 33px;
  margin: 0 15px;
  line-height: 33px;
  border-bottom: 1px solid #bbb;
}
#cont > .notice > .notice-container > .notice2 > .list > li > a {
  display: block;
  font-size: 14px;
  font-weight: 600;
}
#cont > .notice > .notice-container > .notice2 > .list > li > a > span {
  float: right;
  content: "";
}
#cont > .notice > .notice-container > .notice3 {
  position: relative;
  width: 33.4%;
  height: 270px;
  padding-top: 6px;
  box-sizing: border-box;
}
#cont > .notice > .notice-container > .notice3 > .noticebox {
  display: flex;
  width: 100%;
}
#cont > .notice > .notice-container > .notice3 > .noticebox > h3.txt1 {
  width: 50%;
  padding-top: 26px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-size: 24px;
  border-bottom: 2px solid #0092d0;
}
#cont > .notice > .notice-container > .notice3 > .noticebox > h3.txt1 > a {
  display: block;
  color: #0092d0;
}
#cont > .notice > .notice-container > .notice3 > .noticebox > h3.txt1 > a > span {
  position: absolute;
  top: 38px;
  right: 260px;
  width: 13px;
  height: 13px;
  background-image: url(./../images/plus_on.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
#cont > .notice > .notice-container > .notice3 > .noticebox > h3.txt2 {
  width: 40%;
  padding-top: 30px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-size: 18px;
  border-bottom: 2px dotted #777;
}
#cont > .notice > .notice-container > .notice3 > .noticebox > h3.txt2 > a {
  display: block;
  color: #777;
}
#cont > .notice > .notice-container > .notice3 > .list {
  padding: 10px 0;
}
#cont > .notice > .notice-container > .notice3 > .list > li {
  height: 33px;
  margin: 0 15px;
  line-height: 33px;
  border-bottom: 1px solid #bbb;
}
#cont > .notice > .notice-container > .notice3 > .list > li > a {
  display: block;
  font-size: 14px;
  font-weight: 600;
}
#cont > .notice > .notice-container > .notice3 > .list > li > a > span {
  float: right;
  content: "";
}
#cont > .banner {
  width: 100%;
  height: 150px;
  background-color: #ada39a;
}
#cont > .banner > h3 {
  position: absolute;
  text-indent: -9999px;
}
#cont > .banner > .banner-box {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 150px;
  margin: 0 auto;
}
#cont > .banner > .banner-box > li {
  width: 120px;
  height: 100px;
  margin: 10px 0;
  background-color: #ada39a;
}
#cont > .banner > .banner-box > li:nth-child(1) .img {
  background-image: url(./../images/banner_icon1.gif);
}
#cont > .banner > .banner-box > li:nth-child(2) .img {
  background-image: url(./../images/banner_icon2.gif);
}
#cont > .banner > .banner-box > li:nth-child(3) .img {
  background-image: url(./../images/banner_icon3.gif);
}
#cont > .banner > .banner-box > li:nth-child(4) .img {
  background-image: url(./../images/banner_icon4.gif);
}
#cont > .banner > .banner-box > li:nth-child(5) .img {
  background-image: url(./../images/banner_icon5.gif);
}
#cont > .banner > .banner-box > li:nth-child(6) .img {
  background-image: url(./../images/banner_icon6.gif);
}
#cont > .banner > .banner-box > li:nth-child(1):hover .img {
  background-image: url(./../images/banner_on_icon1.png);
}
#cont > .banner > .banner-box > li:nth-child(2):hover .img {
  background-image: url(./../images/banner_on_icon2.png);
}
#cont > .banner > .banner-box > li:nth-child(3):hover .img {
  background-image: url(./../images/banner_on_icon3.png);
}
#cont > .banner > .banner-box > li:nth-child(4):hover .img {
  background-image: url(./../images/banner_on_icon4.png);
}
#cont > .banner > .banner-box > li:nth-child(5):hover .img {
  background-image: url(./../images/banner_on_icon5.png);
}
#cont > .banner > .banner-box > li:nth-child(6):hover .img {
  background-image: url(./../images/banner_on_icon6.png);
}
#cont > .banner > .banner-box > li:nth-child(1):hover span {
  color: #000;
}
#cont > .banner > .banner-box > li:nth-child(2):hover span {
  color: #000;
}
#cont > .banner > .banner-box > li:nth-child(3):hover span {
  color: #000;
}
#cont > .banner > .banner-box > li:nth-child(4):hover span {
  color: #000;
}
#cont > .banner > .banner-box > li:nth-child(5):hover span {
  color: #000;
}
#cont > .banner > .banner-box > li:nth-child(6):hover span {
  color: #000;
}
#cont > .banner > .banner-box > li > a {
  display: block;
  text-align: center;
}
#cont > .banner > .banner-box > li > a > .img {
  width: 91px;
  height: 89px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#cont > .banner > .banner-box > li > a > span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
#cont > .culture {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 500px;
  box-sizing: border-box;
}
#cont > .culture > h3 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 21px;
  font-weight: 600;
  border-bottom: 1px solid red;
  box-sizing: border-box;
}
#cont > .culture > .culture-slides {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  min-width: 1200px;
  height: 410px;
}
#cont > .culture > .culture-slides > .culture-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 2400px;
}
#cont > .culture > .culture-slides > .culture-container > .container1 {
  width: 1200px;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 380px;
  padding-top: 30px;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li {
  position: relative;
  width: 220px;
  height: 380px;
  background-color: #f4f4f4;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li:nth-child(1) .frame {
  background-image: url(./../images/culture_1.png);
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li:nth-child(2) .frame {
  background-image: url(./../images/culture_2.png);
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li:nth-child(3) .frame {
  background-image: url(./../images/culture_3.png);
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li:nth-child(4) .frame {
  background-image: url(./../images/culture_4.png);
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li:nth-child(5) .frame {
  background-image: url(./../images/culture_5.png);
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a {
  display: block;
  height: 380px;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.frame {
  display: block;
  width: 220px;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.box {
  position: absolute;
  top: 50%;
  left: 35px;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.box.box1 {
  background-color: #003595;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.box.box2 {
  background-color: #8393ca;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.box.box3 {
  background-color: #8393ca;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.box.box4 {
  background-color: #003595;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.box.box5 {
  background-color: #d40146;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > span.c-tit {
  position: absolute;
  top: 65%;
  padding: 10px 5px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 600;
}
#cont > .culture > .culture-slides > .culture-container > .container1 > ul.box > li > a > strong {
  overflow: hidden;
  padding: 0 5px;
  margin-top: 80px;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 13px;
}
#cont > .culture > .culture-slides > .culture-container > .container2 {
  width: 1200px;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 380px;
  padding-top: 30px;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li {
  position: relative;
  width: 220px;
  height: 380px;
  background-color: #f4f4f4;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li:nth-child(1) .frame {
  background-image: url(./../images/culture_6.png);
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li:nth-child(2) .frame {
  background-image: url(./../images/culture_7.png);
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li:nth-child(3) .frame {
  background-image: url(./../images/culture_8.png);
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li:nth-child(4) .frame {
  background-image: url(./../images/culture_9.png);
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li:nth-child(5) .frame {
  background-image: url(./../images/culture_10.png);
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a {
  display: block;
  height: 380px;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.frame {
  display: block;
  width: 220px;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.box {
  position: absolute;
  top: 50%;
  left: 35px;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.box.box1 {
  background-color: #aeb000;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.box.box2 {
  background-color: #aeb000;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.box.box3 {
  background-color: #aeb000;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.box.box4 {
  background-color: #aeb000;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.box.box5 {
  background-color: #003595;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > span.c-tit {
  position: absolute;
  top: 65%;
  padding: 10px 5px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 600;
}
#cont > .culture > .culture-slides > .culture-container > .container2 > ul.box > li > a > strong {
  overflow: hidden;
  padding: 0 5px;
  margin-top: 80px;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 13px;
}
#cont > .culture > .culture-navigation {
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 31px;
  margin-top: -15px;
  text-indent: -9999px;
}
#cont > .culture > .culture-navigation.prev {
  left: -30px;
  background-image: url(./../images/culture-prev.gif);
}
#cont > .culture > .culture-navigation.next {
  right: -30px;
  background-image: url(./../images/culture-next.gif);
}
#cont > .introduce {
  width: 1200px;
  margin: 0 auto;
  height: 500px;
  box-sizing: border-box;
}
#cont > .introduce > h3 {
  position: absolute;
  text-indent: -9999px;
}
#cont > .introduce > ul.introduce-nav {
  display: flex;
  width: 1200px;
  height: 50px;
  padding-top: 20px;
  line-height: 50px;
  border-bottom: 1px solid red;
}
#cont > .introduce > ul.introduce-nav > li.tab-link {
  background: none;
  display: inline-block;
  width: 180px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  background-color: #cecece;
  cursor: pointer;
}
#cont > .introduce > ul.introduce-nav > li.tab-link.on, #cont > .introduce > ul.introduce-nav > li.tab-link:hover, #cont > .introduce > ul.introduce-nav > li.tab-link:active {
  background: #fff;
  color: #000;
  border: 1px solid red;
  box-sizing: border-box;
}
#cont > .introduce > ul.introduce-nav > .plus {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 20px;
  margin-left: 650px;
  background-image: url(./../images/plus_on.gif);
}
#cont > .introduce > ul.introduce-nav > .plus > a {
  display: block;
  height: 12px;
}
#cont > .introduce > .introduce-slides {
  display: none;
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
  height: 420px;
}
#cont > .introduce > .introduce-slides.on {
  display: block;
}
#cont > .introduce > .introduce-slides > .slides {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#cont > .introduce > .introduce-slides > .slides > .swiper {
  width: 1200px;
  height: 100%;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper {
  width: 1200px;
  height: 100%;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box {
  position: relative;
  left: 0;
  width: 220px;
  height: 410px;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame {
  position: absolute;
  left: 0;
  top: 28px;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > img {
  display: block;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box {
  position: absolute;
  top: -23px;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-radius: 50px;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box1, #cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box6 {
  background-color: #578C2E;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box2, #cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box4, #cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box5 {
  background-color: #3E3E33;
  line-height: 22px;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box3 {
  background-color: #F8479C;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box7, #cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box8, #cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box9, #cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box10 {
  background-color: #DB6C35;
}
#cont > .introduce > .introduce-slides > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > strong {
  position: absolute;
  left: 0;
  top: 375px;
  text-align: left;
  font-size: 13px;
}
#cont > .introduce > .introduce-slides > .slides > .slides-next {
  position: absolute;
  right: -40px;
}
#cont > .introduce > .introduce-slides > .slides > .slides-prev {
  position: absolute;
  left: -40px;
}
#cont > .introduce > .introduce-slides2 {
  display: none;
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
  height: 420px;
}
#cont > .introduce > .introduce-slides2.on {
  display: block;
}
#cont > .introduce > .introduce-slides2 > .slides {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper {
  width: 1200px;
  height: 100%;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper {
  width: 1200px;
  height: 100%;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box {
  position: relative;
  left: 0;
  width: 220px;
  height: 410px;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame {
  position: absolute;
  left: 0;
  top: 28px;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > img {
  display: block;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box {
  position: absolute;
  top: -23px;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-radius: 50px;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box1, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box2, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box3, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box4, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box5, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box6, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box7, #cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box10 {
  background-color: #DB6C35;
  line-height: 50px;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box9 {
  background-color: #1AA241;
  line-height: 22px;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box8 {
  background-color: #578C2E;
}
#cont > .introduce > .introduce-slides2 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > strong {
  position: absolute;
  left: 0;
  top: 375px;
  text-align: left;
  font-size: 13px;
}
#cont > .introduce > .introduce-slides2 > .slides > .slides-next {
  position: absolute;
  right: -40px;
}
#cont > .introduce > .introduce-slides2 > .slides > .slides-prev {
  position: absolute;
  left: -40px;
}
#cont > .introduce > .introduce-slides3 {
  display: none;
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
  height: 420px;
}
#cont > .introduce > .introduce-slides3.on {
  display: block;
}
#cont > .introduce > .introduce-slides3 > .slides {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper {
  width: 1200px;
  height: 100%;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper {
  width: 1200px;
  height: 100%;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box {
  position: relative;
  left: 0;
  width: 220px;
  height: 410px;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame {
  position: absolute;
  left: 0;
  top: 28px;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > img {
  display: block;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box {
  position: absolute;
  top: -23px;
  left: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  border-radius: 50px;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box1, #cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box2, #cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box4, #cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box5 {
  background-color: #DB6C35;
  line-height: 50px;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box3 {
  background-color: #F8479C;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box6 {
  background-color: #902217;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box7, #cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box8 {
  background-color: #969100;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box9, #cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > .frame > .box.box10 {
  background-color: #707070;
  line-height: 22px;
}
#cont > .introduce > .introduce-slides3 > .slides > .swiper > .swiper-wrapper > .swiper-slide > .frame-box > strong {
  position: absolute;
  left: 0;
  top: 375px;
  text-align: left;
  font-size: 13px;
}
#cont > .introduce > .introduce-slides3 > .slides > .slides-next {
  position: absolute;
  right: -40px;
}
#cont > .introduce > .introduce-slides3 > .slides > .slides-prev {
  position: absolute;
  left: -40px;
}
#cont > .cont1 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  height: 350px;
  padding-top: 60px;
}
#cont > .cont1 > h3 {
  position: absolute;
  text-indent: -9999px;
}
#cont > .cont1 > .calendar {
  width: 29%;
  height: 300px;
  background-image: url(./../images/calendar_bg.gif);
}
#cont > .cont1 > .calendar > a {
  display: block;
  text-align: right;
  color: #000;
  font-size: 17px;
  background-image: url(./../images/calendar_plus.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 320px center;
  padding-right: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#cont > .cont1 > .calendar > ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
#cont > .cont1 > .calendar > ul > li {
  width: 93px;
  height: 168px;
  background-image: url(./../images/date.gif);
  background-repeat: no-repeat;
}
#cont > .cont1 > .calendar > ul > li > p {
  text-align: center;
}
#cont > .cont1 > .calendar > ul > li > p.date {
  margin: 0 5px;
  padding-top: 15px;
  color: #003aa5;
  line-height: 43px;
  font-size: 11px;
  border-bottom: 1px solid #e2e2e2;
}
#cont > .cont1 > .calendar > ul > li > p.num1 {
  font-size: 28px;
  margin-top: 20px;
}
#cont > .cont1 > .calendar > ul > li > p.num2 {
  font-size: 40px;
  margin-top: 10px;
}
#cont > .cont1 > .calendar > ul > li > p.num3 {
  font-size: 40px;
  margin-top: 10px;
}
#cont > .cont1 > .calendar > .holiday {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}
#cont > .cont1 > .calendar > .holiday > p.day1 {
  padding-bottom: 10px;
  color: #003595;
  font-weight: 600;
  border-bottom: 1px solid #cecece;
}
#cont > .cont1 > .calendar > .holiday > p.day2 {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 800;
}
#cont > .cont1 > .cont1-container {
  width: 29%;
  height: 300px;
  background-color: #f2f2f2;
}
#cont > .cont1 > .cont1-container > ul {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}
#cont > .cont1 > .cont1-container > ul li {
  position: relative;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
}
#cont > .cont1 > .cont1-container > ul li:last-child {
  border-bottom: 0;
}
#cont > .cont1 > .cont1-container > ul li:nth-child(1) a {
  background-image: url(./../images/direct01.gif);
}
#cont > .cont1 > .cont1-container > ul li:nth-child(2) a {
  background-image: url(./../images/direct02.gif);
}
#cont > .cont1 > .cont1-container > ul li:nth-child(3) a {
  background-image: url(./../images/direct03.gif);
}
#cont > .cont1 > .cont1-container > ul li:nth-child(4) a {
  background-image: url(./../images/direct04.gif);
}
#cont > .cont1 > .cont1-container > ul li > a {
  display: block;
  width: 100%;
  height: 75px;
  background-size: 35px;
  background-position: 26px 50%;
  background-repeat: no-repeat;
}
#cont > .cont1 > .cont1-container > ul li > a > p {
  height: 75px;
  line-height: 75px;
  padding-left: 85px;
  font-size: 18px;
  font-weight: 600;
}
#cont > .cont1 > .cont1-slides {
  width: 35%;
  height: 300px;
}
#cont > .cont1 > .cont1-slides > .slides {
  overflow: hidden;
  position: relative;
  width: 420px;
  height: 300px;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 2940px;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p {
  width: 420px;
  background-size: cover;
  background-repeat: no-repeat;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-1 {
  background-image: url(./../images/cont1-slide1.gif);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-2 {
  background-image: url(./../images/cont1-slide2.jpg);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-3 {
  background-image: url(./../images/cont1-slide3.jpg);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-4 {
  background-image: url(./../images/cont1-slide4.jpg);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-5 {
  background-image: url(./../images/cont1-slide5.jpg);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-6 {
  background-image: url(./../images/cont1-slide6.jpg);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p.slides-7 {
  background-image: url(./../images/cont1-slide7.jpg);
}
#cont > .cont1 > .cont1-slides > .slides > .slides-container > p > a {
  display: block;
  height: 300px;
  text-indent: -9999px;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 420px;
  height: 40px;
  padding-top: 13px;
  padding-left: 120px;
  background-color: #000;
  opacity: 0.6;
  box-sizing: border-box;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-pagination > li {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #777;
  border-radius: 30px;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-pagination > li:hover > a, #cont > .cont1 > .cont1-slides > .slides > .slides-pagination > li.on > a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: #003595;
}
#cont > .cont1 > .cont1-slides > .slides > .slides-pagination > li > a {
  display: block;
  text-indent: -9999px;
}
#cont > .cont1 > .cont1-slides > .slides > .cont1-navigation {
  position: absolute;
  bottom: 12px;
  text-indent: -9999px;
}
#cont > .cont1 > .cont1-slides > .slides > .cont1-navigation.prev {
  right: 60px;
  width: 8px;
  height: 15px;
  background-image: url(./../images/banner_prev.gif);
}
#cont > .cont1 > .cont1-slides > .slides > .cont1-navigation.next {
  right: 15px;
  width: 8px;
  height: 15px;
  background-image: url(./../images/banner_next.gif);
}
#cont > .cont1 > .cont1-slides > .slides > .btn_auto {
  display: block;
  position: absolute;
  right: 32px;
  bottom: 12px;
  width: 17px;
  height: 15px;
  text-indent: -9999px;
  background-image: url(./../images/banner_play.gif);
  cursor: pointer;
}
#cont > .cont1 > .cont1-slides > .slides > .btn_auto.pause {
  width: 13px;
  height: 15px;
  margin-right: 5px;
  background-image: url(./../images/banner_stop.gif);
}
#cont > .banner-bottom {
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
}
#cont > .banner-bottom > h3 {
  position: absolute;
  text-indent: -9999px;
}
#cont > .banner-bottom > .bottom-container {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
#cont > .banner-bottom > .bottom-container > ul.box {
  display: flex;
  width: 1200px;
  height: 80px;
  line-height: 80px;
}
#cont > .banner-bottom > .bottom-container > ul.box > li {
  width: 300px;
  height: 80px;
  border-left: 1px solid #cecece;
  box-sizing: border-box;
}
#cont > .banner-bottom > .bottom-container > ul.box > li:nth-child(1) a {
  background-image: url(./../images/b_banner_1.gif);
}
#cont > .banner-bottom > .bottom-container > ul.box > li:nth-child(2) a {
  background-image: url(./../images/b_banner_2.gif);
}
#cont > .banner-bottom > .bottom-container > ul.box > li:nth-child(3) a {
  background-image: url(./../images/b_banner_3.gif);
}
#cont > .banner-bottom > .bottom-container > ul.box > li:nth-child(4) a {
  background-image: url(./../images/b_banner_4.gif);
  border-right: 1px solid #cecece;
}
#cont > .banner-bottom > .bottom-container > ul.box > li > a {
  display: block;
  width: 300px;
  height: 80px;
  background-size: 50px;
  background-position: 40px 50%;
  background-repeat: no-repeat;
}
#cont > .banner-bottom > .bottom-container > ul.box > li > a > p {
  height: 80px;
  line-height: 80px;
  padding-left: 110px;
  font-size: 15px;
  font-weight: 600;
}

#footer-wrap > .footer-top {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cecece;
}
#footer-wrap > .footer-top > .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 60px;
}
#footer-wrap > .footer-top > .container > ul.Privacy-box {
  display: flex;
  height: 60px;
  line-height: 60px;
  width: 350px;
}
#footer-wrap > .footer-top > .container > ul.Privacy-box > li:first-child a {
  margin-right: 20px;
  color: #003aa5;
}
#footer-wrap > .footer-top > .container > ul.Privacy-box > li:last-child a {
  color: #000;
}
#footer-wrap > .footer-top > .container > ul.Privacy-box > li > a {
  display: block;
  height: 60px;
  font-size: 14px;
}
#footer-wrap > .footer-top > .container > .footer-topbox {
  position: relative;
  width: 850px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .sns {
  display: flex;
  position: absolute;
  top: 18px;
  left: 320px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .sns > p {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .sns > p:nth-child(1) a {
  background-image: url(./../images/f-facebook.gif);
}
#footer-wrap > .footer-top > .container > .footer-topbox > .sns > p:nth-child(2) a {
  background-image: url(./../images/f-youtube.gif);
  background-size: cover;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .sns > p:nth-child(3) a {
  background-image: url(./../images/f-insta.gif);
}
#footer-wrap > .footer-top > .container > .footer-topbox > .sns > p > a {
  display: block;
  width: 25px;
  height: 25px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language1 {
  display: flex;
  position: absolute;
  top: 17px;
  right: 210px;
  width: 200px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #b4b4b4;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language1 > p {
  display: block;
  font-size: 12px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language1 > p:nth-child(1) {
  padding-left: 10px;
  color: gray;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language1 > p:nth-child(2) {
  position: absolute;
  right: 40px;
  top: 11px;
  width: 7px;
  height: 4px;
  background-image: url(./../images/footer-down.gif);
  background-repeat: no-repeat;
  text-indent: -9999px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language1 > p:nth-child(3) {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 16px;
  margin: 5px;
  padding-left: 3px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #8ed1de;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language1 > p:nth-child(3) a {
  display: block;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language2 {
  display: flex;
  position: absolute;
  top: 17px;
  right: 3px;
  width: 200px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #b4b4b4;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language2 > p {
  display: block;
  font-size: 12px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language2 > p:nth-child(1) {
  padding-left: 10px;
  color: gray;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language2 > p:nth-child(2) {
  position: absolute;
  right: 40px;
  top: 11px;
  width: 7px;
  height: 4px;
  background-image: url(./../images/footer-down.gif);
  background-repeat: no-repeat;
  text-indent: -9999px;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language2 > p:nth-child(3) {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 16px;
  margin: 5px;
  padding-left: 3px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #8ed1de;
}
#footer-wrap > .footer-top > .container > .footer-topbox > .footer-language2 > p:nth-child(3) a {
  display: block;
}
#footer-wrap > .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}
#footer-wrap > .footer-bottom > .footer-logo {
  display: inline-block;
  width: 95px;
  height: 75px;
  margin-right: 20px;
  background-image: url(./../images/footer_logo.gif);
}
#footer-wrap > .footer-bottom > p.footer-txt {
  margin-top: 20px;
  margin-right: 40px;
  line-height: 1.3;
  color: #5a5149;
  font-size: 14px;
  letter-spacing: -1px;
}
#footer-wrap > .footer-bottom > .wa-logo {
  width: 93px;
  height: 57px;
  background-image: url(./../images/wa.gif);
}
#footer-wrap > .footer-banner {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background-image: url(./../images/footer-banner.jpg);
}/*# sourceMappingURL=style.css.map */